<div>
  <div class="cd_header">
    <div>Country Details</div>
  </div>
  <div class="btn_div"><button
      {{on "click" this.goBack}}
      type="button"
      class="btn btn-secondary"
    >Go Back</button></div>
  <div class="cd_section">
    <div class="cd_image">
      <div><span>{{this.details.emoji}}</span></div>
    </div>
    <div class="cd_details">
      <div>
        <div class="name">{{this.details.name}}</div>
        <div class="cd_sm_details">
          <div class="currency"><span>currency: </span><span
            >{{this.details.currency}}</span></div>
          <div class="symbol"><span>currency symbol: </span><span
            >{{this.details.currency_symbol}}</span></div>
          <div class="phone"><span>phone code: </span><span
            >{{this.details.phone_code}}</span></div>
        </div>
      </div>
    </div>
  </div>

  {{! Table for states }}
  <div class="cd_table">
    <Table @headers={{this.headers}} @rows={{this.states}} />

    {{! Pagination }}
    <div>
      <Pagination
        @handlePreviousPage={{this.handlePreviousPage}}
        @handleNextPage={{this.handleNextPage}}
        @checkNextPage={{this.checkNextPage}}
        @checkPreviousPage={{this.checkPreviousPage}}
      />
    </div>
  </div>
</div>