<div>
  {{! Header }}
  <div class="app_header">
    <div>
      <img src="/assets/images/appknox-logo.png" alt="logo" />
    </div>
  </div>
  {{! Jumbotron }}
  <div class="app_jumbotron">
    <div>
      <h1>Explore geographic data of countries from the GeographQL service</h1>
      <h5>As part of your SDLC, our automated tools and team of penetration
        testers will make your application secure. Read more at:
        https://www.appknox.com/</h5>
    </div>
  </div>
  <div class="app_table">
    <Table @headers={{this.headers}} @rows={{this.countries}} />

    {{! Pagination }}
    <div>
      <Pagination
        @handlePreviousPage={{this.handlePreviousPage}}
        @handleNextPage={{this.handleNextPage}}
        @checkNextPage={{this.checkNextPage}}
        @checkPreviousPage={{this.checkPreviousPage}}
      />
    </div>
  </div>
</div>